* {
    box-sizing: border-box;
}

.hiddenOver>a {
    overflow-x: clip !important;
    overflow-y: clip !important;
}

.filterNone {
    filter: none !important;
}

@keyframes open {
    from {
        top: 100vh;
        bottom: -100vh;
    }

    to {
        top: 0;
        bottom: 0;
    }
}

@keyframes close {
    from {
        top: 0;
        bottom: 0;
    }

    to {
        top: 100vh;
        bottom: -100vh;
    }
}

.container_active {
    animation: open 0.2s;
}

.container_close {
    animation: close 0.2s;
}

body,
html {
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    z-index: 1500;
}

.container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(100px);
    background-color: rgba(255, 255, 255, 0.8);
}

/* 为隐藏状态添加的样式 */
.hidden {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.hidden2 {
    opacity: 0;
    visibility: hidden;
}

.container #MusicPlayer {
    width: 100%;
    display: block;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.container .lrc {
    padding-left: 15px;
    width: 100%;
    height: calc(100vh - 60px);
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
}

.container .lrc::-webkit-scrollbar {
    display: none
}

.container .lrc #ullrc {
    height: auto;
    /* 修改为 auto */
    overflow: auto;
    /* 添加 overflow 属性 */
    list-style: none;
    transition: 0.3s all ease;
    padding: 0;
    margin: 0;
}

.container>.lrc>#ullrc>li>.tl {
    font-size: 16px;
}

.container>.lrc>#ullrc>li.active>.tl {
    font-size: 20px;
}

.container .lrc #ullrc:nth-child(1) {
    margin-top: 40%;
}

.container .lrc #ullrc:nth-last-child(1) {
    margin-bottom: 40%;
}

/*歌词普通样式*/
.container .lrc #ullrc li {
    /* filter: blur(1.0px); */
    height: auto;
    line-height: 35px;
    font-size: 1.5em;
    color: rgba(0, 0, 0, .4);
    font-weight: normal;
    transition: .3s all ease;
    /*一定要加上不然看着突兀*/
    list-style-type: none;
    text-align: left;
    display: block;
    width: 100%;
    margin: 20px auto;
}

/*动态歌词样式*/
.container .lrc #ullrc li.active {
    font-size: 1.8em;
    color: black;
    font-weight: bold;
    filter: none;
}

.container .lrc #ullrc li.active+li {
    /* filter: blur(0.4px); */
}

.container .lrc #ullrc li.active+li+li {
    /* filter: blur(0.6px); */
}

.container .lrc #ullrc li.active+li+li+li {
    /* filter: blur(0.8px); */
}

body {
    position: static;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color:white; */
    /* backdrop-filter: blur(80px); */
    /* background-image: url("https://api.3r60.top/v2/background/bing.php"); */
}

.MusicInfo {
    padding: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: fit-content;
    width: 50%;
}

.MusicInfo img {
    border-radius: 10px;
    width: 80%
}

@media (max-width: 768px) {

    .container {
        display: block;
    }

    .container .lrc #ullrc li {
        font-size: 1em;
        text-align: center;
    }

    .container>.lrc>#ullrc>li>.tl {
        font-size: 0.8em;
    }

    .container>.lrc>#ullrc>li.active>.tl {
        font-size: 0.9em;
    }

    .container .lrc #ullrc li.active {
        font-size: 1.1em;
    }

    .MusicInfo {
        top: 0%;
        transform: none;
    }

    .container .lrc {
        position: absolute;
        top: 65px;
        bottom: 80px;
        transform: none;
        height: unset;
    }

    .MusicInfo {
        position: fixed;
        display: flex;
        top: 10px;
        left: 10px;
        right: 10px;
        background-color: rgb(235, 235, 235);
        border-radius: 10px;
        height: 55px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, .5);
        width: auto;
        padding: 2px;
        z-index: 10000;
    }

    #songInfo {
        flex-grow: 1;
        font-size: 18px !important;
        margin: 0;
    }


    .MusicInfo img {
        position: fixed;
        height: 45px;
        width: auto;
        left: 70px;
        display: none;
    }

    .volume-bar,
    #muteButton,
    #shareButton,
    #miniSongInfo {
        display: none;
    }

    #centerControl {
        width: 60vw;
        text-align: center;
        position: static;
    }

    #prevButton {
        margin-left: 0;
    }

    #nextButton {
        margin-right: 0;
    }
}

@media (min-width: 769px) {
    .MusicInfo {
        background-color: rgba(0, 0, 0, 0) !important;
    }
}

#backButton {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 30000;
    height: 55px;
    font-size: 18px;
    -webkit-app-region: no-drag;
}

/* 播放器按钮样式 */
.control-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: currentcolor;
    font-size: 24px;
    margin: 0 10px;
}

.control-btn:focus {
    outline: none;
}

/* 进度条样式 */
.progress-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.progress-bar {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 5px;
    border-radius: 5px;
    background-color: #ddd;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

/* 进度条滑块样式 */
.progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--color-success);
}

.progress-bar::-moz-range-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--color-success);
}

/* 时间显示样式 */
.current-time,
.duration-time {
    font-size: 13px;
    margin-left: 4px;
    margin-right: 4px;
    opacity: 0.6;
}

.duration-time {
    font-size: 13px;
    /* color:rgba(0,0,0,.5); */
}

/* 音量条样式 */
.volume-container {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.volume-bar {
    width: 100px;
    -webkit-appearance: none;
    appearance: none;
    height: 5px;
    border-radius: 5px;
    background-color: #ddd;
    cursor: pointer;
}

.volume-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
}

.volume-bar::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fe375f;
}


/* 迷你播放器样式 */
.mini-player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: -webkit-fill-available;
    padding: 10px;
    margin-bottom: 0;
    /* background-color: rgba(250, 250, 250, 0.6); */
    /*backdrop-filter: blur(10px);*/
    z-index: 2000;
    height: 70px;
    margin: 20px;
}

.mini-player img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 3px;
}

.mini-player #miniSongInfo {
    /* flex-grow: 1; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#songInfo {
    font-size: 30px;
}

.mini-player #miniTitle {
    display: block;
    font-size: 18px;
}

.mini-player #miniArtist {
    display: block;
    font-size: 14px;
    /* color:rgba(0,0,0,.5); */
    /* margin-left: 8px */
}

.playlist-container {
    position: fixed;
    top: 30px;
    right: 10px;
    bottom: 90px;
    background-color: rgba(0, 0, 0, .95);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .5);
    width: 300px;
    padding: 20px;
    z-index: 20000;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 播放列表侧边栏样式 */
.playlist-sidebar {
    position: fixed;
    right: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    /* background: var(--card-bg); */
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s;
    z-index: 1900;
    padding: 20px;
}

.playlist-sidebar.active {
    right: 0;
}

.playlist-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.playlist-items {
    list-style: none;
    padding: 0;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    padding-right: 8px;
    padding-bottom: 70px;
}

.playlist-items::-webkit-scrollbar {
    width: 6px;
}

.playlist-items::-webkit-scrollbar-thumb {
    background-color: rgba(220, 220, 220, .6);
    border-radius: 10px;
}

.playlist-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
}

.playlist-item:hover {
    background: var(--hover-bg);
}

.playlist-item.active {
    background: var(--color-success);
    color: white;
}

.playlist-item>button {
    padding: 2px 6px;
    font-size: 14px;
}

.playlist-item.active>button {
    display: none;
}

/* 迷你播放器添加控制按钮 */
.mini-player {
    justify-content: space-between;
}

#centerControl {
    width: 30vw;
    text-align: center;
    position: fixed;
    left: calc(34vw);
}

/* 播放模式按钮激活状态 */
.control-btn.active-mode {
    background: var(--primary-color);
}

#playModeButton {
    font-size: 24px;
}

#playPauseButton {
    background: var(--color-success);
    border-radius: 20px;
    padding: 4px 15px;
    color: white;
}

#prevButton {
    margin-left: 20px;
}

#nextButton {
    margin-right: 20px;
}

#musicLists>tbody>tr.active {
    background: #d4e3d985;
    color: white;
}